header h1 {
  color: #FFFFFF;
  font-weight: 800;
  margin: 0;

}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(14, 14, 14, 0.7)), url("./assets/bg.png");
  height: 208px;
  background-position-x: center;
  background-position-y: -150px;

}

header a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.searchbar {
  max-width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -15px;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 1);

}

.searchbar button,
.searchbar input,
.searchbar span {
  height: 100%;

}

.searchbar input {
  width: 60%;
  background-color: rgba(255, 255, 255, 1);
  border: none;

}

.searchbar span {
  padding: 1%;
  width: 10%;
  background-color: transparent;

}

.searchbar button {
  flex-grow: 1;
  border: none;
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid rgba(209, 213, 219, 1);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.result>span>svg {
  margin: 100% 0 0 0;
  color: rgba(223, 221, 221, 1);
  width: 100px;
  height: 100px;
  /* background-color: red; */
}

.result h2 {
  color: rgba(223, 221, 221, 1);
}

.movie-card {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 5% 10%;
  /* text-overflow: ellipsis; */
  /* border: 1px solid black; */
}

.movie-card .card-poster {
  height: 100%;
  /* width: 20%; */
}

.movie-card .poster {
  height: 100%;
  width: 110px;

  border-radius: 5%;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 4%;
}

.card-details>div {
  display: flex;
  justify-content: space-between;

}

.card-details>div:first-child {
  justify-content: flex-start;
  gap: 20px;
}

.card-details .description {

  height: 35%;
  max-width: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgba(107, 114, 128, 1);
  font-weight: 400;
  font-size: small;
}

.movie-card .card-details svg {
  color: rgba(254, 198, 84, 1);
  width: 15px;
  height: 15px;
}

.movie-card .card-details a
{
  text-decoration: none;
  color: rgba(17, 24, 39, 1);
}
.movie-card .card-details a svg {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgba(17, 24, 39, 1);
  color: #FFFFFF;
  margin:0 4%;
  border-radius: 100%;
  padding: 1%; 
}