header h1 {
  color: #FFFFFF;
  font-weight: 800;
  margin: 0;

}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(14, 14, 14, 0.7)), url("./assets/bg.png");
  height: 208px;
  background-position-x: center;
  background-position-y: -150px;

}

header a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.searchbar {
  max-width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -15px;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 1);

}

.searchbar button,
.searchbar input,
.searchbar span {
  height: 100%;

}

.searchbar input {
  width: 60%;
  background-color: rgba(255, 255, 255, 1);
  border: none;

}

.searchbar span {
  padding: 1%;
  width: 10%;
  background-color: transparent;

}

.searchbar button {
  flex-grow: 1;
  border: none;
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid rgba(209, 213, 219, 1);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.result span svg {
  margin: 100% 0 0 0;
  color: rgba(223, 221, 221, 1);
  width: 100px;
  height: 100px;
  /* background-color: red; */
}

.result h2 {
  color: rgba(223, 221, 221, 1);
}