header h1 {
  color: #FFFFFF;
  font-weight: 800;
  margin: 0;

}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(14, 14, 14, 0.7)), url("./assets/bg.png");
  height: 208px;
  background-position-x: center;
  background-position-y: -150px;

}

header a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.searchbar {
  max-width: 600px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -15px;
  height: 30px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 1);

}

.searchbar button,
.searchbar input,
.searchbar span {
  height: 100%;

}

.searchbar input {
  width: 60%;
  background-color: rgba(255, 255, 255, 1);
  border: none;

}

.searchbar span {
  padding: 1%;
  width: 10%;
  background-color: transparent;

}

.searchbar button {
  flex-grow: 1;
  border: none;
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid rgba(209, 213, 219, 1);
}

.result, .watchlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.result>span>svg {
  margin: 100% 0 0 0;
  color: rgba(223, 221, 221, 1);
  width: 100px;
  height: 100px;
  /* background-color: red; */
}

.result h2 {
  color: rgba(223, 221, 221, 1);
}

.movie-card {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 5% 10%;
  justify-content: space-between;
  /* text-overflow: ellipsis; */
  gap: 10px;
  /* border: 1px solid black; */
}

.movie-card .card-poster {
  height: 100%;
  width: 30%;
  max-width: 120px;
  /* border: 1px solid black; */
}

.movie-card img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5%;
  /* border: 1px solid black; */
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: ; */
  width: 70%;

}

.card-details>div {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.card-details>div>h4 {
  white-space: nowrap;
  width: 60%;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.card-details .description {

  height: 20%;
  width: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgba(107, 114, 128, 1);
  font-weight: 400;
  font-size: small;

}

.movie-card .card-details svg {
  color: rgba(254, 198, 84, 1);
  width: 15px;
  height: 15px;
}

.movie-card .card-details .type,
.movie-card .card-details .duration {
  font-size: small;

}

.movie-card .card-details button ,.no-watchlist .add-btn a {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 1% 0;
  font-weight: 800;
  text-decoration: none;
  color: rgba(17, 24, 39, 1);
    width: 50%;
    align-items: center;

}


.movie-card .card-details .add-btn:hover {

  border-bottom: 1px solid rgba(17, 24, 39, 1);

}

.movie-card .card-details .add-btn svg ,.no-watchlist svg{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgba(17, 24, 39, 1);
  color: #FFFFFF;
  margin: 0 4% 0 0;
  border-radius: 100%;
  padding: 5px;
}

/* 
.watchlist{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 color: rgba(223, 221, 221, 1);
 height: 100%;
 margin :auto 0;
} */

.no-watchlist {
  color: rgba(223, 221, 221, 1);
  margin: auto 0;
  height : 100%;
  margin: 20% 0;
  width:95%;
  text-align: center;
  /* background-color: red; */
}
.no-watchlist .add-btn a
{

  display: flex;
  align-items: center;
justify-content: center;
width: 100%;
  /* background-color: yellow; */
margin-top: 3%;

}